<div class="small-8 small-centered medium-6 medium-centered large-5 large-centered columns">
	<h1> New Business </h1>
	<form>
		<input type="text" ng-model="name" placeholder="Business name">
		<input type="text" ng-model="industry" placeholder="Business industry">
		<input type="text" ng-model="website" placeholder="Business website">
		<input type="text" ng-model="logo" placeholder="Business logo url">
		<button class="button success radius expand" type="submit" ng-click="addNew(name, industry, website, logo)">Add</button>
	</form>	
</div>

	