<div class="large-5 large-centered columns">
	<h1> Edit Business </h1>
	<form>
		<input type="text" ng-model="name" placeholder="{{ business[biz].name }}">
		<input type="text" ng-model="industry" placeholder="{{ business[biz].industry }}">
		<input type="text" ng-model="website" placeholder="{{ business[biz].website }}">
		<input type="text" ng-model="logo" placeholder="{{ business[biz].logo }}">
		<button class="button success radius expand" type="submit" ng-click="editBiz(name, industry, website, logo)">Edit</button>
	</form>
</div>
